export PY_VERS=3.12.5
export SUPPORTED_PY_VERS="3.9 3.10 3.11 3.12"

print_err(){
    printf "+++ ERROR +++ %s\n" "$*" >&2;
}

print_warn(){
    printf "+++ WARNING +++ %s\n" "$*" >&2;
}

get_candidate_py_vers(){
    for py in python python3; do
        py_vers=""
        py_vers_patchless=""
        if command -v ${py} >/dev/null 2>&1 ; then
            py_vers=$(awk '{print $2}' <<< "$(${py} -V)")
            py_vers_no_patch=$(cut -d. -f1-2 <<< "${py_vers}")
        fi

        if [[ "${py_vers_no_patch}" != "" ]]; then
            if [[ "${SUPPORTED_PY_VERS}" != *"${py_vers_patchless}"* ]]; then
                print_err "Detected unsupported python major.minor: ${py_vers_patchless}"
                print_err "Please switch to one of: '${SUPPORTED_PY_VERS}' and retry"
                exit 1
            fi
            echo "python${py_vers_patchless}"
            return
        fi
    done

    print_err "Did not detect python or python3 installed! Please install one of Python's '${SUPPORTED_PY_VERS}' and try again!"
    exit 1
}

if [[ "$(which pyenv)" == "" ]]; then
    layout python "$(get_candidate_py_vers)"
else
    layout pyenv "${PY_VERS}"
fi

pip install --upgrade pre-commit &>/dev/null
pre-commit install -c ./.pre-commit-config.yaml &>/dev/null
